<!DOCTYPE html>
<html ng-app="mp3Convert" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Convert MP3 =&gt; MP4</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="checklist-model.js"></script>
  <script src="./mp4download.js"></script>
  <script src="dropzone.js"></script>
  <script type="text/javascript">
    window.onload = function() {
      var myDropzone = Dropzone.instances[0];
      myDropzone.on('complete', function(file) {
        myDropzone.removeFile(file);
      });
    };
  </script>
  <link href="./dropzone.css" rel="stylesheet" />
  <link href="./style.css" rel="stylesheet" />
  
</head>
<body>
  <div class="content">
    <h1>mp3 to mp4 converter</h1>
    <p>Files dropped into the box below will be converted HE-ACC in an MPEG-4 container (extension m4a).</p>
    <form action="do_it.php?action=upload_and_convert"
        class="dropzone"
        id="audio-dropzone">
      <div class="fallback">
        <input name="file" type="file" multiple />
      </div>  
    </form>
    <h2>Download</h2>
    <div ng-controller="downloadsController as downloads" data-ng-init="updateFileList(true)">
      <form action="do_it.php?action=download_files" method="post" target="hidden_iframe" enctype="application/x-www-form-urlencoded">
        <label ng-repeat="item in availableFiles">
          <input type="checkbox" name="files[]" ng-model="availableDownloads" value="{{item.filename}}" /> {{item.filename}}
        </label>
        <input type="submit" class="download" value="Download" />
      </form>
      <button ng-click="clearFiles()" class="alert">Clear Files</button>
      <div class="status">
        <p>Status: <span ng-bind="status"></span></p>
      </div>
    </div>
  </div><!-- content -->
  <iframe width="1" height="1" frameBorder="0" name="hidden_iframe" class="hidden"></iframe>
</body>
</html>
