<!DOCTYPE html>
<html ng-app="mp3Convert" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Convert MP3 =&gt; MP4</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="checklist-model.js"></script>
  <script src="./mp4download.js"></script>
  <script src="./dropzone.js"></script>
  <link href="./dropzone.css" rel="stylesheet" />
  <link href="./style.css" rel="stylesheet" />
  
</head>
<body>
  <div class="content">
    <h1>mp3 to mp4 converter</h1>
    <p>Files dropped into the box below will be converted HE-ACC in an MPEG-4 container (extension m4a).</p>
    <form action="upload_convert.php"
        class="dropzone"
        id="audio-dropzone">
      <div class="fallback">
        <input name="file" type="file" multiple />
      </div>  
    </form>
    <h2>Download</h2>
    <div ng-controller="downloadsController as downloads" data-ng-init="updateFileList()">
      <form ng-submit="download()">
        <label ng-repeat="item in availableFiles">
          <input type="checkbox" checklist-model="toDownload" checklist-value="item.filename" /> {{item.filename}}
        </label>
        <button ng-click="checkAll()">Check all</button>
        <button ng-click="checkNone()">Clear</button>
        <input type="submit" class="download" value="Download" />
      </form>
      <div style="padding: 20px; border: solid 1px gray;margin: 20px 0;">
        <p class="status" ng-bind="status"></p>
      </div>
    </div>
  </div><!-- content -->
</body>
</html>
