body {
  font-family: Helvetica, Arial, sans-serif
}
h1 {
  color: darkorange;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
h2 {
  color: #666;
  font-size: 1.1em;
  margin-top: 30px;
}
.content {
  width: 80%;
  margin: 30px auto;
}
label { 
  display: block;
  margin-bottom: 10px;
}
input[type=checkbox] {
  padding-right: 20px;
}
button, input[type=submit] {
  padding: 10px 30px;
  font-size: 1em;
  background-color: #999;
  color: white;
  border-radius: 7px;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type=submit].download {
  background-color: darkorange;
}
button.alert {
  background-color: #c00;
  color: #eee;
}
button:hover, input[type=submit]:hover {
  background-color: orange;
  cursor: pointer;
}
.info {
  font-style: italic;
  font-size: 0.9em;
  color: #999;
}
.status {
  padding: 20px;
  margin: 20px 0; 
  border: solid 1px #eee; 
  color: darkgray;
  font-weight: bold;
}
  
  
